@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* for svg */
/* https://undraw.co/search */
body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  background: #ffffff;
  margin: 0;
  padding:0;  
}

 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h5 {
  margin:0;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  display: inline-block;
  margin-inline: 1rem;
  font-weight: bold;
}

.wee {
  font-size: 4rem;
  margin: 0;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #000000;
}

.footer {
  padding-inline: 1rem;
}

.mainDiv {
  display: grid;
  /* align-items: center; */
  grid-template-columns: 55% 45%;
  /* text-align: center; */
  width: 100%;
  height: 100%;
}

.picture img {
  width: 100%;
  height: 100%;
}
.modalSection {
  /* background-color: aqua; */
  padding-block: 2rem;
}
.modalSection p {
  font-size: 2rem;
}

header {
  padding-inline: 1rem;
}

.test {
  padding-block: 3rem;
  padding-inline: 1rem;
}

.loadingDiv {
  height: 100vh;
    position: absolute;
    background: #121211;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}
.loadingDivHide {
    display: none;
}

.showResult {
  position: absolute;
    top: 0;
    background:rgba(1,1,1,0.5);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherSecDetails {
  text-align: end;
}

.weatherDetails h1 {
  margin:0;
}

.weatherSecDetails h1 {
  margin: 0;
}
.weatherDetails  > div {
  display: inline-block;
  padding-inline: 0.625rem;
  text-align: end;
}
.hideResult {
  display:none;
}

.resultHandler {
  border: 1px solid;
    width: 50%;
    padding: 1rem;
    background: #ffff;
    border-radius: 0.625rem;
}

.loadingDiv h1 {
  color: #ffff;
}

.checkWeatherModal {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  /* position: relative; */
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
    rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.checkWeatherModal:hover {
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
    rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  /* transform: scale(1.01); */
}

.modalShow {
  background:rgba(1,1,1,0.5);
  position: absolute;
  right: 0;
  left:0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
}

.modalHide {
display: none;
}

.modalHandler {
    padding-inline: 2rem;
    background: #ffffff;
    border-radius: 0.625rem;
    position: relative;
    display: flex;
    bottom: 5rem;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.modalClose {
  width: 35px;
  cursor: pointer;
}

h3 {
  margin: 0;
}



.resultHeader {
  display: flex;
  justify-content: space-between;
  margin-block: 0.625rem;
  padding-block: 0.625rem;
}

.resultHeader h1 {
  margin: 0;
  display: inline-block;
}


.locationName {
  text-align: center;
}

.modalClose span {
  height: 0.188rem;
  background-color: #000;
  display: block;
  margin: 0.313rem;
}
.modalClose span:nth-child(1){
  transform: translateY(7px) translateX(1px) rotate(47deg);
}

.modalClose span:nth-child(2){
  transform: translateY(-1px) translateX(1px) rotate(136deg);
}


.resultClose {
  width: 35px;
  cursor: pointer;
}

.resultClose span {
  height: 0.188rem;
  background-color: #000;
  display: block;
  margin: 0.313rem;
}
.resultClose span:nth-child(1){
  transform: translateY(7px) translateX(1px) rotate(47deg);
}

.resultClose span:nth-child(2){
  transform: translateY(-1px) translateX(1px) rotate(136deg);
}





.modalHeader {
  padding-block: 2rem;
}

#inputText {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  /* height: 40px; */
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
  
}

#inputText:focus{
  background-color: #fff;
  border-color: #3b49df;
  box-shadow: 1px 1px 0 #3b49df;
}

.checkWeatherBtn {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cel {

  position: relative;
}
.cel::before {
  content: "°C";
  font-size: 15px;
  display: block;
  position: absolute;
  right:-1rem;
}

.newWeather {
  padding-block: 0.625rem;
  padding-inline: 0.625rem;
}

.checkWeatherBtn:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

#selectCountry {
  padding-block: 0.625rem;

}

/* loader */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
